---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Samael Starshine</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        <b>Welcome to the world behind the screen!</b>
      </p>
<br>
<img src="https://media.licdn.com/dms/image/D5635AQHFB6cXobuqUg/profile-framedphoto-shrink_400_400/0/1689444021199?e=1694750400&v=beta&t=qbUq6J5FfGKB2NbuzVzTEJc0sU_IxhqJNVh7yZRKgt8" alt="A beautiful illustration" id="circular-image" style="width: 240px; height: 240px; border-radius: 50%; object-fit: cover; display: inline-block; margin-right: 10px;" />
<img src="https://media.licdn.com/dms/image/D5635AQFgjJQv3nesDg/profile-framedphoto-shrink_400_400/0/1694284428587?e=1694890800&v=beta&t=YDVLAc9616ECK7zcPnBbwLEz6QAtgT06J0kbCXoxSvE" alt="A beautiful illustration" id="circular-image" style="width: 240px; height: 240px; border-radius: 50%; object-fit: cover; display: inline-block; margin-left: 10px;" />

<p>
    Hey, friend. Welcome to my introduction page. I'm <b>Sahil Ashok Sawant</b>, and I'm all about diving deep into the fascinating world of technology and engineering.
  </p>
  <p>
    You see, I'm an <b>Electronics and Telecommunication Engineer</b> on my way to earning my <b>Bachelor's in Technology (B.Tech) Degree</b>. I've got a diverse skill set that helps me navigate through complex circuits, troubleshoot technical issues, and design robust electronic solutions.
  </p>
  <p>
    But that's not all. As a <b>Python Developer</b>, I've gone down the rabbit hole of <em>Cybersecurity</em>. I've crafted some pretty slick software tools like PortScanner and Ennumeration Tool to keep those lurking threats at bay. And when it comes to problem-solving, I've conquered my fair share of <b>LEETCODE</b> challenges, earning myself a respectable rank of 74,386. Yeah, I know my stuff.
  </p>
  <p>
    Now, let's talk <b>Automation Engineering</b>. I've got a comprehensive understanding of Internet of Things and Hardware Systems. I've taken on some pretty cool projects for <em>State-Level and Intercollege Competitions</em>. Armed with Microcontrollers and Microprocessors, I've created some seriously Innovative Solutions that seamlessly integrate with our Physical World. You could say I've got a knack for automating tasks and boosting efficiency.
  </p>
  <p>
    Oh, and don't get me started on <b>Computer Networks</b>, I'm a true enthusiast in that area. I've delved deep into the intricacies of <em>Client-Server Communication</em> and the fascinating realm of <em>Virtual Machines</em>. Through my projects, I've gained hands-on experience in designing and implementing Network Architectures, ensuring smooth data flow and efficient system interactions.
  </p>
  <p>
    So join me on this Epic Journey, <b>My Friend</b>. Together, we'll combine my passion for <em>Python Development</em>, <em>Automation Engineering</em>, <em>Computer Networks</em>, <em>Electronics and Telecommunication</em>, and <em>Web development</em>, just like a secret alliance against <em>EVIL CORP</em>. As we delve into the depths of technology, we'll uncover the endless possibilities that lie within, breaking free from the clutches of corporate control and <em>embracing a future where Innovation and Creativity Reign Supreme. Get ready to Join The Resistance and defy the dominance of EVIL CORP as we shape a world where technology serves the people and empowers us all</em>.
  </p>
  <p>
    <b>Thanks for dropping by, and get ready for a wild ride. Mr. Robot ain't got nothin' on us.</b>
  </p>
  <p>
    Warm regards,<br>
    <b>Sahil Ashok Sawant</b><br>
    <em>(aka. Samael Starshine)</em>
  </p>
      <p>
        <li><b>Thank you for venturing into the recesses of my digital existence. Embrace the unknown, for only then will you truly see.</b>
      </p>
      
      
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">

      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
