---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Samael Starshine</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        <b>Welcome to the world behind the screen!</b>
      </p>
<br>
  
  <p>
    I am thrilled to have you here. My name is <b>Samael3003</b>, and I am a passionate <b>Python Developer</b>, <b>IoT Automation Expert</b>, and <b>Electronics and Telecommunication Engineer</b>. With a solid educational background in <b>Electronics and Telecommunication Engineering</b>, I have acquired a comprehensive understanding of electronic systems, communication protocols, and networking technologies.
  </p>
  <p>
    As a <b>Python Developer</b>, I leverage the power of this versatile programming language to create robust and efficient applications. <em>Python's simplicity, readability, and extensive library ecosystem make it an ideal tool for rapid prototyping, data analysis, and integration with various hardware platforms.</em> Throughout my career, I have honed my skills in Python development, mastering the language's syntax and best practices. I have successfully developed and deployed numerous Python-based projects, delivering innovative solutions to real-world challenges.
  </p>
  <p>
    My journey into the captivating world of <b>IoT</b> began during my studies during <b>B.Tech</b> in <b>Electronics and Telecommunication Engineering</b>. I became captivated by the idea of seamlessly connecting devices and harnessing data to create groundbreaking solutions.</em> With a deep understanding of electronic systems and communication technologies, I embarked on a path as an <b>IoT Engineer</b>. I have since gained hands-on experience in developing and deploying IoT systems, working with a diverse range of sensors, actuators, and communication protocols.
  </p>
  <p>
    Through my expertise in <b>Python development</b> and <b>IoT engineering</b>, I have achieved several notable milestones. I have successfully designed and implemented home automation systems, enabling users to control and monitor their homes remotely. I have also developed smart environmental monitoring solutions, leveraging IoT devices to collect and analyze data for enhanced resource management. In addition, I have contributed to the development of IoT platforms that facilitate seamless connectivity and data exchange between devices.
  </p>
  <p>
    Beyond my technical achievements, I am dedicated to sharing my knowledge and insights with others. Through this website, I aim to provide valuable resources and information to fellow developers, enthusiasts, and anyone eager to explore the exciting possibilities of Python development and the Internet of Things. <em>My articles cover a wide range of topics, including IoT architecture, sensor integration, cloud computing, and data visualization.</em> I strive to offer practical guidance and inspire others to embark on their own IoT journeys.
  </p>
  <p>
    I am always open to collaboration, idea exchange, and contributing to the vibrant community of engineers and developers. Whether you have questions, suggestions, or opportunities for collaboration, please don't hesitate to reach out to me. Together, let's unlock the immense potential of the Internet of Things and Python development.
  </p>
  <p>
    Thank you for visiting my website, and I hope you find it both informative and inspiring.
  </p>
  <p>
    Warm regards,<br>
    <b>Sahil Ashok Sawant</b>
    <em>(aka. Samael Starshine)</em>
  </p>
      <p>
        <li><b>Thank you for venturing into the recesses of my digital existence. Embrace the unknown, for only then will you truly see.</b>
      </p>
      
      
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">

      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
